/* for creating formating parts of html  */

/* General formatting for text */

h1, h2, h3 {
    text-align: left;
    color: black;
}

p {
    text-align: center;
}

/* Footer fixed at the bottom */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    color: gray;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Apply box-sizing to all elements to include padding and borders within element's width */
* {
    box-sizing: border-box;
    padding: 1sspx;
}

.RightColumn {
    float: left; 
    width: 65%;   
    padding: 20px; 
    height: auto; 
    border-radius: 20px;
}

.LeftColumn {
    float: left; 
    width: 35%;   
    padding: 20px; 
    height: auto; 
    background-color: lightgray;
    border-radius: 20px;
}

/* Clearfix for row */
.row:after {
    content: "";
    display: table;
    clear: both; /* Clear the float for the columns */
}

/* game box styling */
.container {
    border: 1px solid black;
    padding: 20px;
    width: 100px auto;
    height: 300px;
    margin: 20px auto; 
    text-align: center;
    border-radius: 20px;
}

/* input box for some alinment */
.box {
    border: 1px;
    padding: 20px;
    width: 300px;
    height: 80px auto;
    margin: 20px auto; 
    text-align: center;
    cursor: pointer;
}

.button {
    border: 1px;
    padding: 20px;
    width: 300px;
    height: 80px;
    margin: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.smbutton {
    border: 1px;
    padding: 5px;
    width: 150px ;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}


/* displaying big lteters and colours for the letters in the guessed word */
.letter{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}   

.green{
    background-color: green;
    color: white;
}

.yellow{
    background-color: yellow;
    color: white;
}

.grey{
    background-color: grey;
    color: white;
}