/* for creating formating parts of html  */

/* General formatting for text */

h1, h2, h3 {
    text-align: left;
    color: black;
}

p {
    text-align: center;
}

/* Footer fixed at the bottom */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    color: gray;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Apply box-sizing to all elements to include padding and borders within element's width */
* {
    box-sizing: border-box;
    padding: 1sspx;
}

.RightColumn {
    float: left; 
    width: 65%;   
    padding: 20px; 
    height: auto; 
    border-radius: 20px;
}

.LeftColumn {
    float: left; 
    width: 35%;   
    padding: 20px; 
    height: auto; 
    background-color: lightgray;
    border-radius: 20px;
}

/* Clearfix for row */
.row:after {
    content: "";
    display: table;
    clear: both; /* Clear the float for the columns */
}

/* game box styling */
.container {
    border: 1px solid black;
    padding: 20px;
    width: 100px auto;
    height: 300px auto;
    margin: 20px auto; 
    text-align: center;
    border-radius: 20px;
}

/* input box for some alinment */
.box {
    border: 1px;
    padding: 20px;
    width: 300px;
    height: 80px auto;
    margin: 20px auto; 
    text-align: center;
    cursor: pointer;
}

.button {
    border: 1px;
    padding: 20px;
    width: 300px;
    height: 80px;
    margin: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.smbutton {
    border: 1px;
    padding: 5px;
    width: 150px ;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* displaying big lteters and colours for the letters in the guessed word */
.word-container {
    margin-bottom: 15px; /* Space between words */
}
.letter-box {
    display: inline-block; /* Display each letter in a block */
    width: 40px; /* Width of each box */
    height: 40px; /* Height of each box */
    line-height: 40px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    margin: 5px; /* Spacing between boxes */
    border: 2px solid #000; /* Border for the boxes */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold letters */
    font-size: 14px; /* Set font size to 14 pixels */
}
.green {
    background-color: green; /* Background color for correct letters */
    color: white; /* Text color for visibility */
}
.yellow {
    background-color: yellow; /* Background color for misplaced letters */
    color: black; /* Text color for visibility */
}
.grey {
    background-color: grey; /* Background color for incorrect letters */
    color: white; /* Text color for visibility */
}