/* styles.css */
body {
  background-color: lightgray;
  }
  
h1 {
  color: black ;
  text-align: center;
  }

footer{
  background-color: lightgray;  
  padding: 5px;
  text-align:center;
  color: black;
  
}